<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>

    <h1>Chuck got jOkEs</h1>


    <p id="pain">pain is vital to becoming a developer</p>

    <div id ="terrible">
      <%= ChuckNorris.random %>
    </div>
<p> Is this it cheif?</p>
<button type="button" name="yes" >yes<img src="https://www.pngkey.com/png/detail/9-97058_thumb-up-green-thumbs-up-transparent-background.png" height="15px" width="15px"</button>
<button type="button" name="trash">trash</button>
</body>

</html>
