<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
  </head>
  <body>


<p>Delivery availible</p>

    <ul>
      <%= @catgories.each do|category|  %>
      <li>   </li>
    </ul>

    <h1>Chuck got jOkEs</h1>


    <p id="pain">pain is vital to becoming a developer</p>

    <div id ="terrible">
      <%= ChuckNorris.random %>
    </div>
<p> Is this it cheif?</p>
<button type="button" id = btn1><a href="enter ur trash link"></a> <img src="https://www.pngkey.com/png/detail/9-97058_thumb-up-green-thumbs-up-transparent-background.png" height="20px" width="20px"</button>
<a href="#"></a><button type="button" id = btn2></a>>trash<img src="https://toppng.com/uploads/preview/clipart-thumbs-down-thumb-signal-11562939569knc6bhoc48.png" height="20px" width="20px"></button>
<script src="main.js" charset="utf-8"></script>
</body>

</html>
